@import './utils/fonts';
@import './utils/variables';
@import './base';


//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Roboto', sans-serif;
$fontSize: 20px;
//</Шрифт по умолчанию>==========================================================================================

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // flex: 1 1 auto;
    font-family: $fontFamily;
    font-style: normal;
    &.lock {
        overflow: hidden;
    }
}

[class*='__container'] {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $bp-tablet) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: $bp-desktop) {
        max-width: 1270px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

[class*='__title'] {
    font-size: 32px;
    font-weight: 500;

    @media (min-width: $bp-desktop) {
        font-size: 64px;
        font-weight: 700;
    }
}

@import './utils/utils';
@import './components/buttons';
@import './components/links';
@import './components/header';
@import './components/hero';
@import './components/choose';
@import './components/procedures';
@import './components/modal';
@import './utils/mixins';
@import './components/find';
@import './layouts/mobile-menu';
@import './layouts/about';


