.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.wrapper {
    background: linear-gradient( rgba(43, 127, 255, 0.20) 39.74%, rgba(43, 127, 255, 0.00) 54.16%, rgba(43, 127, 255, 0.00) 66.66%);;
}