.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.lock {
    overflow: hidden;
    background-color: #D0CBC8;    
}

.wrapper {
    // padding-top: 100px;
    background: linear-gradient(
        rgba(43, 127, 255, 0.2) 39.74%,
        rgba(43, 127, 255, 0) 54.16%,
        rgba(43, 127, 255, 0) 66.66%
    );
    // -webkit-mask-image: url(../images/bg.svg);
    // mask-image: url(../images/bg.svg);
    // mask-position: 47% 43%;
    // mask-size: 3000px 1500px;
    // mask-repeat: no-repeat;

    @media (min-width: $bp-tablet) {
        padding-top: 100px;
        mask-size: 2000px 2000px;
    }

    @media (min-width: $bp-desktop) {
        mask-position: center top;
        mask-size: 3000px 2000px;
    }
}
