.btn {
    display: flex;
    height: 44px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: var(--beauty-landing-2-c-2, #2b7fff);
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-grow: 0;
    cursor: pointer;
}

.btn:hover {

}

.carusel-right {
    rotate: 180deg;
}
