.choose {
    padding-top: 104px;
    background-image: url(../images/background.png);
    background-size: auto;
    background-position-x: center;
    background-position-y: -60px;

    @media (min-width: $bp-desktop) {
        padding-bottom: 96px;
    }

    // .choose__container

    &__container {
        flex-direction: column;
        align-items: center;

        // @media (min-width: $bp-desktop) {
        //     flex-direction: row;
        // }
    }

    // .choose____title

    &__title {
        text-align: center;        
        margin-bottom: 24px;

        @media (min-width: $bp-desktop) {
            margin-bottom: 48px;
        }
    }

    // .choose__cards

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        @media (min-width: $bp-desktop) {
                flex-direction: row;
                gap: 56px;
            }
    }

    // .choose__card

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        padding: 24px 32px;
        border-radius: 32px;
        box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);

        @media (min-width: $bp-desktop) {
            min-height: 180px;
        }
    }

    &__card .icon {
        margin-bottom: 12px;
        fill: var(--beauty-landing-2-c-2);
    }

    &__card-text {
        max-width: 250px;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;

        @media (min-width: $bp-desktop) {
            max-width: 275px;
        }
    }
}
