.procedures {
    padding-top: 50px;

    // .procedures__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .procedures__title

    &__title {
        margin-bottom: 50px;
    }

    // .procedures__content

    &__content {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    // .procedures__images

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 32px;
    }

    &__card {
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.05);
        }

        &-container {
            position: relative;
            justify-content: flex-end;
            width: 345px;
            height: 455px;
            border-radius: 4px 120px;
            background: linear-gradient(
                180deg,
                rgba(1, 28, 68, 0) 48.53%,
                rgba(1, 28, 68, 0.73) 84.61%,
                #011c44 101.39%
            );
        }
    }

    &__card-image {
        position: absolute;
        width: 345px;
        height: 455px;
        border-radius: 4px 120px;
        z-index: -1;
    }

    &__card-text {
        position: absolute;
        left: 115px;
        bottom: 32px;
        width: 150px;
        z-index: 2;
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        color: #fff;
    }
}

.carusel {
    display: none;

    @media screen and (min-width: $bp-desktop) {
        display: block;
    }
}

.carusel-arrow {
    width: 44px;
    height: 44px;
    background: #fff;
    border: solid 3px;
    border-radius: 50%;
    padding: 10px;

    &:hover {
        background: var(--beauty-landing-2-c-2);
        border-color: var(--beauty-landing-2-c-2);
        fill: #fff;
    }
}
.carusel-nav {
}
.carusel-dot {
    fill: var(--beauty-landing-25);
}
.dot-active {
    fill: var(--beauty-landing-2-c-2);
}
