.hero {
    display: flex;
    position: relative;
    z-index: 2;
    padding-top: 70px;
    background-image: linear-gradient(
            87deg,
            #fff 20.92%,
            rgba(255, 255, 255, 0.78) 44.46%,
            rgba(255, 255, 255, 0.2) 58.9%,
            rgba(255, 255, 255, 0) 72.45%
        ),
        url(../images/nurse.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-bottom: 60px;

    @media screen and (min-width: $bp-desktop) {        
        min-height: 658px;
        flex: 1 0;        
        padding-top: 123px;
        padding-bottom: 130px;               
    }

    // .hero__container

    &__container {
        z-index: -5;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        @media screen and (min-width: $bp-desktop) {
            align-items: start;
            padding-left: 120px;
        }
    }

    &__subtitle {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 10px;

        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 16px;
            font-size: 18px;
            line-height: normal;
        }
    }

    // .hero__title

    &__title {
        text-transform: capitalize;
        font-size: 54px;
        font-weight: 700;
        line-height: 46px;
        margin-bottom: 32px;

        @media screen and (min-width: $bp-desktop) {
            font-size: 140px;
            line-height: 114px;
            max-width: 530px;
            margin-bottom: 40px;
        }
    }

    &__btn {
        font-size: 16px;
        margin-bottom: 8px;

        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 14px;
            font-size: 18px;
            padding: 16px 32px;
            border-radius: 32px;
        }
    }

    // .hero__text

    &__text {
        max-width: 220px;
        text-align: center;
        font-size: 11px;
        font-weight: 400;
        line-height: 18px;
        color: var(--beauty-landing-2-c-3);

        @media screen and (min-width: $bp-desktop) {
            font-size: 12px;
            line-height: 18px;
        }
    }
}
